

<section class="hero-wrapper">

    <div class="hero">

        
        
        <div class="profile-img-wrapper">
            
            
            <img src="https://st5.depositphotos.com/1001030/65476/i/450/depositphotos_654765820-stock-photo-smiling-caucasian-man-captured-black.jpg" alt="">
            
            <app-custom-btn [btnText]="'Awesome 🔥'" class="floating-btn"></app-custom-btn>
            
        </div>
        
        
        <div class="hero-heading">
            
            <h1>Building digital products, brands, and experiences.</h1>
            
            <app-custom-btn [btnText]="'Learn More'" [btnClass]="'btn-variant-2'"></app-custom-btn>
        </div>
        
    </div>
        
    </section>