@import 'shared';

.mini-card-component-wrapper{

        .mini-card-component-button{
            background: none;
            width: 130px;
        
            height: 120px;
            padding: 0;
            border: 1px solid $color-border;
            border-radius: 16px;
            gap: 10px;
            justify-content: center;
            align-items: center;

            margin-bottom: 20px;


            transition: all ease-in-out 0.3s;

            img{
                height: 34px;
                width: auto;
            }
            .btn-title{
                transition: all ease-in-out 0.3s;
                font-size: $font-size-lg;
                color: $color-primary-accent;
            }

            &.noOutline{
                border: none;
                 width: 93px;

                &:hover{
                    background: none !important;
                    border:none;
                    
                    .btn-title{
                        color: $color-btn-primary;
                    }
                }

            }

        &:hover{
            background-color: $color-hover-lighter;
            border-block: 15px solid $color-primary-accent;
           
        }
        }
}