<section class="features">

    <div class="features-heading">

        <h2>
            
            Collaborate with brands and agencies to create impactful results
            
        </h2>

        <app-custom-btn [btnText]="'Awesome 🔥'" class="floating-btn"></app-custom-btn>

    </div>


    <div class="cards-wrapper">


        <app-custom-card [cardHeading]="'UI/UX'" [cardDesc]="'Designing interfaces that are Initiative, Efficient, Preferred and Enjoyable
to use.'"></app-custom-card>

        <app-custom-card [cardHeading]="'UI/UX'" [cardDesc]="'Designing interfaces that are Initiative, Efficient, Preferred and Enjoyable
to use.'"></app-custom-card>

        <app-custom-card [cardHeading]="'UI/UX'" [cardDesc]="'Designing interfaces that are Initiative, Efficient, Preferred and Enjoyable
to use.'"></app-custom-card>

        <app-custom-card [cardHeading]="'UI/UX'" [cardDesc]="'Designing interfaces that are Initiative, Efficient, Preferred and Enjoyable
to use.'"></app-custom-card>





    </div>

</section>