.side-page-component-wrapper{
   background: url('/bg/sidepageBG.png') no-repeat ;
    background-size: cover; 
    background-position: center;
    height: 100%;
    width: 50vw;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    position: absolute;
    top: 0px;
}