<header>



    <nav>


        <ul>



            <li>example&#64;example.com</li>
            <li>

                <app-custom-btn [btnText]="'Copy'" ></app-custom-btn>

            </li>
            <li>

                <app-custom-btn [btnText]="'CV'" ></app-custom-btn>

            </li>
            

        </ul>

        <ul>



            <li>Instagram <span>/</span></li>
            <li>LinkedIN <span>/</span></li>
            <li>Dribble </li>
            

        </ul>





    </nav>
    




</header>