@import 'shared';

.recently-added-wrapper{
    margin-inline: 50px;
    padding: 115px 0px;
    // background-color:$color-tertiary-background;
    // margin-inline: 80px;
    border-radius: 16px;



  





   .tabs-wrapper{

   ::ng-deep .mat-mdc-tab-labels{
        width: 200px;
     
      img{
        margin-right: 7px;
      }

      .tab-text{
        font-size: 16px;
      }

    }


.tab-content {
  width: 99%;
  padding: 50px 0px;
// overflow-x: hidden;
}


   } 
}

