
$var-color-dark:#171717;
$var-color-dark-md:#262626;
$var-color-grey-xl:#E5E5E5;
$var-color-white:#FFFFFF;

$var-color-dark-text:#111827;

$var-color-grey:#D4D4D4;
$var-color-grey-l:#F5F5F5;

$var-icon-col-1:#EA580C;
$var-icon-col-2:#7C3AED;
$var-icon-col-1:#059669;

$primary-font:'Poppins';
$fw-b:600;
$fw-md:500;
$fw-r:400;

$fs-s:14px;
$fs-md:16px;
$fs-l:18px;
$fs-xl:22px;


