<div class="signup-page-wrapper">

    <div class="signup-form-wrapper">




        <form action="#" class="signup-form" [formGroup]="signup_data" (ngSubmit)="onSubmitBtn()">
            <h2 class="mb-5">Get Started Now</h2>

            <div class="mb-4">
                <label for="fullname" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="fullname" formControlName="name">
                <h6 *ngIf="name?.hasError('required') && name?.touched" class="text-danger mt-2">
                    Name is required
                </h6>
                <h6 *ngIf="name?.hasError('minlength') && name?.touched" class="text-danger mt-2">
                    Name must be at least 3 characters
                </h6>
            </div>

            <div class="mb-4">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <div class="mb-5 form-check">
                <input type="checkbox" class="form-check-input" id="tnc" formControlName="istncAccepted">
                <label class="form-check-label" for="tnc">I Agree to Continue with the Services of Avion Store</label>
                 <h6 *ngIf="istncAccepted?.hasError('invalid') && istncAccepted?.touched" class="text-danger mt-2">
                    PLease Accepted
                </h6>
            </div>

            <div class="mb-3 pt-3">

                <app-button-component [isDisabled]="signup_data.invalid" buttonType="submit" customBtnText="Sign Up" customBtnVariant="PrimaryBtn"
                    [btnHasIcon]="true" btnIconPosition="left" iconPath="icons/UserIcon.svg">
                </app-button-component>

                <div class="mt-3">

                    <h5 align="center" class="linker">Already have an account? <a routerLink="/listings">Login</a> here
                    </h5>

                </div>

            </div>


        </form>





    </div>

    <div class="side-page-wrapper">

        <app-side-page-component></app-side-page-component>
    </div>

</div>